main {
    max-width: 100%;
}

main section {
    text-align: center;
    padding: 3rem 0;
}

main section:nth-child(even) {
    background: #f4f4f4;
}

/* Allows for nice alternation of section color if misaligned */
.section-dummy {
    padding: 0rem;
}
