:root {
    --primary-color: #368ee9;
    --kavis-blue: rgb(25,54,100);
    --green: #2E9A41;
    --grey: rgb(85,85,85);
}

body {
    background: white;
    color: var(--grey);
    font-family: "LatoLatinWeb";
    min-height: 95vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h4 {
    color: var(--kavis-blue);
}

h2, h3 {
    color: var(--kavis-blue);
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
}

a {
    color: rgb(45,144,233);
    font-weight: bold;
    transition: all 0.15s ease-out 0s;
}

a:hover {
    color: rgb(23,113,207);
}

img {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.btn {
    padding: 0.5rem 1.9rem;
    font-weight: 700;
    margin: 0.4rem;
}

.btn-primary {
    background: var(--primary-color);
}

.btn-primary:hover {
    background: #206ab6;
}

.btn-secondary {
    color: #fff !important;
}

/* Ira's homebrew CSS */

.btn-main {
    border: 2px solid transparent;
    border-radius: 0.66em 3px 0.66em 3px;
    color: white;
    display: block;
    font-size: 1.0em;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out 0s;
}
/* #kavis-tech is a root body ID to help increase CSS specificity */
#kavis-tech .btn-main:focus,
#kavis-tech .btn-main:hover,
#kavis-tech .btn-main:active {
    box-shadow: none;
}

#kavis-tech .btn-info {
    background-color: var(--kavis-blue);
    margin: auto;
    padding: 0.2em 1em;
    width: 33.33333%;
}
#kavis-tech .btn-info:focus,
#kavis-tech .btn-info:hover,
#kavis-tech .btn-info:active {
    background-color: transparent;
    border-color: var(--kavis-blue);
    color: var(--kavis-blue);
}

/* A container for multiple buttons in a single row */
.button-row {
    text-align: center;
}

/* A paragraph that contains only a single image */
p.image {
    text-align: center;
}

/* Override bootstrap card style to remove border */
.card {
    border: none;
}

/* Add spacing for copyright logo in mobile */
.copyright-spacing {
    height: 2rem;
}

/*===== START Header =====*/

#navbar {
    transition: top 0.25s;
    background-color: var(--kavis-blue);
}

.navbar {
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    min-height: 60px;
    background-color: white;
}

#kavis-tech .navbar-brand {
    padding-left: 0.25rem;
}

#kavis-tech .navbar-toggler {
    border-color: transparent;
    padding-right: 0.25rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-link {
    margin-top: 0.05rem;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 0.5rem;
}

.nav-border-right {
    border-right: 1px solid white;
    padding-right: 16px;
}

.nav-border-left {
    border-left: 1px solid white;
    padding-left: 16px;
}

#kavis-tech .navbar-light,
#kavis-tech .navbar-nav,
#kavis-tech .nav-link {
    color: white;
}
.active>.nav-link,
.nav-link:focus,
.nav-link:hover,
.nav-link.active,
.nav-link.show,
.show>.nav-link {
    text-decoration: underline;
}

/* Dropdown menu */

.dropdown-divider {
    border-width: 1.5px;
}

.dropdown-menu,
.dropdown-item {
    color: white;
    background-color: var(--kavis-blue);
}
.dropdown-item:hover,
.dropdown-item:active {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 0.2rem;
    color: white;
    background-color: var(--kavis-blue);
}

/* Allow hover navbar for drop-downs */
.dropdown:hover .dropdown-menu {
    margin-top: 0px;
    display: block;
}

/*===== END Header =====*/

/*===== START main =====*/

main {
    max-width: 764px;
    margin: 60px auto 0;
    padding: 3rem 0rem;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 3rem;
    font-family: "LatoLatinWebThin";
    margin-bottom: 3.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

h1 em {
    font-family: "LatoLatinWeb";
}

::-moz-selection, /* Code for Firefox */
::selection {
    color: white;
    background: var(--kavis-blue);
}

.container {
    max-width: 764px;
}

.container-desc {
    margin-bottom: 2rem;
}

.intro-desc {
    padding: 0rem 1rem;
    max-width: 764px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
}

/*===== START table =====*/

/* Non-modal table */
div.table-content {
    margin: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

div.table-content.table-content-last-child {
    margin-bottom: 3rem;
}

/*===== END table =====*/

/* Give sections padding when routing by id */
span.anchor {
    display: block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}

/* Default fork-awesome icon is check mark icon */
.col-fa::before {
    content: "\f00c";
    font-family: 'ForkAwesome';
    font-style: normal;
    text-decoration: inherit;
    padding: 0 10px 0 0;
}

/*===== END main =====*/

/*===== START Footer =====*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.copyright {
    font-size: 0.8rem;
}

/*===== END Footer =====*/

/*===== START mobile =====*/

@media (max-width: 764px) {
    .copyright-spacing {
        visibility: visible;
    }
    /* Margin adjustments for list items table */
    div.table-content {
        margin-top: 0;
        margin-right: 1rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
    }
    div.table-content-last-child {
        margin-top: 0;
        margin-right: 1rem;
        margin-bottom: 3rem;
        margin-left: 1rem;
    }
    /* Don't allow two-lined text */
    #kavis-tech .btn-info{
        width: 66.66666%;
    }
    .nav-link {
        text-underline-offset: 0.2rem;
    }
    /* Hide forced vertical navbar item bars in desktop */
    .nav-border-right,
    .nav-border-left {
        border: 0;
        padding: 0;
    }
    .dropdown-menu {
        border-color: white;
    }
}

/*===== END mobile =====*/
