<div class="row banner-desktop">
  <img src="{{ '/images/photos/landing-page/landing-page-01-desktop.jpeg'|url }}" class="img-fluid rounded"
    alt="Kavis Techology - Stock Photo">
  <div class="col-md-6 banner-desktop-list">
    <p>Contract Manufacturing Services</p>
    <ul>
      <li><a href="{{ ('/services/cnc')|url }}">CNC</a></li>
      <li><a href="{{ '/services/edm'|url }}">EDM</a></li>
      <li><a href="{{ '/services/3d-printing'|url }}">3D Printing</a></li>
      <li><a href="{{ '/services/sheet-metal'|url }}">Sheet Metal</a></li>
      <li><a href="{{ '/services/laser-cutting'|url }}">Laser Cutting</a></li>
      <li><a href="{{ '/services/laser-welding'|url }}">Laser Welding</a></li>
      <li><a href="{{ '/services/cleanroom'|url }}">Cleanroom Assembly</a></li>
    </ul>
  </div>
</div>
