<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Kavis Technology | {% block title %}{{ this.title }}{% endblock %}</title>

  <!-- Favicon. Works with IE >= 11 and other GUI browsers -->
  <link rel="icon" type="image/png"
        href="{{ '/images/logos/kavistech-icon-favicon.png'|url }}"/>

  <link rel="stylesheet"
        href="{{ '/external/bootstrap-4.4.1/css/bootstrap.min.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/main.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/latolatinfonts.css'|url }}">
  <link rel="stylesheet"
        href="{{ '/css/fork-awesome/fork-awesome.min.css'|url }}">
  <link rel="stylesheet"
        href="{{ '/external/photoswipe-4.1.3/photoswipe.css'|url }}">
  <link rel="stylesheet"
        href="{{ '/external/photoswipe-4.1.3/default-skin/default-skin.css'|url }}">

  <!-- App icons for mobile -->
  <!-- To support old sizes -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ '/images/app-icons/Icon-57.png'|url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ '/images/app-icons/Icon-72.png'|url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ '/images/app-icons/Icon-114.png'|url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ '/images/app-icons/Icon-144.png'|url }}">
  <!-- To support new sizes -->
  <link rel="apple-touch-icon" sizes="60×60" href="{{ '/images/app-icons/Icon-60.png'|url }}">
  <link rel="apple-touch-icon" sizes="76×76" href="{{ '/images/app-icons/Icon-76.png'|url }}">
  <link rel="apple-touch-icon" sizes="120×120" href="{{ '/images/app-icons/Icon-120.png'|url }}">
  <link rel="apple-touch-icon" sizes="152×152" href="{{ '/images/app-icons/Icon-152.png'|url }}">
  <link rel="apple-touch-icon" sizes="180×180" href="{{ '/images/app-icons/Icon-180.png'|url }}">
  <!-- To support Android -->
  <link rel="icon" sizes="192×192" href="{{ '/images/app-icons/Icon-192.png'|url }}">
  <link rel="icon" sizes="128×128" href="{{ '/images/app-icons/Icon-128.png'|url }}">

  {% block page_css %}
  {% endblock %}

  <script src="{{ '/external/jquery-3.4.1.slim.min.js'|url }}"></script>
  <script defer src="{{ '/external/bootstrap-4.4.1/js/bootstrap.min.js'|url }}"></script>

  <script src="/external/photoswipe-4.1.3/photoswipe.min.js"></script> 
  <script src="/external/photoswipe-4.1.3/photoswipe-ui-default.min.js"></script> 

  {% block page_js %}
  {% endblock %}

  <meta property="og:site_name" content="Kavis Technology" />
  <meta property="og:title"
        content="Kavis Technology - The High-Tech Outsourcing Partner" />
  <meta property="og:description"
        content="Kavis Technology provides one-stop service, including product development, contract manufacturing, on-site quality control, and logistics associated with international transactions." />
  <meta property="og:image"
        content="{{ '/images/kavistech-logo.png'|url }}" />
  <meta property="og:secure_url"
        content="{{ '/images/kavistech-logo.png'|url }}" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
