<div class="banner-mobile">
    <img src="{{ '/images/photos/landing-page/landing-page-01-mobile.jpg'|url }}" class="img-fluid screenshot rounded"
            alt="Kavis Techology - Stock Photo">
    <div class="table-content-head">
        <p>Global Sourcing</p>
    </div>
    <div class="table-content row">
        <div class="col-sm-6">
            <a class="mobile-href" href="{{ "#"|url }}">CNC</a>
        </div>
        <div class="col-sm-6">
            <a class="mobile-href" href="{{ "#"|url }}">EDM</a>
        </div>
        <div class="col-sm-6">
            <a class="mobile-href" href="{{ "#"|url }}">3D Printing</a>
        </div>
        <div class="col-sm-6">
            <a class="mobile-href" href="{{ "#"|url }}">Sheet Metal</a>
        </div>
        <div class="col-sm-6">
            <a class="mobile-href" href="{{ "#"|url }}">Laser Cutting</a>
        </div>
        <div class="col-sm-6">
            <a class="mobile-href" href="{{ "#"|url }}">Laser Welding</a>
        </div>
        <div class="col-sm-6">
            <a class="mobile-href" href="{{ "#"|url }}">Cleanroom Assembly</a>
        </div>
    </div>
    </div>
</div>
