<div class="banner-mobile">
    <img src="{{ '/images/photos/landing-page/landing-page-01-mobile.jpg'|url }}" class="img-fluid screenshot rounded"
            alt="Kavis Techology - Stock Photo">
    <div class="table-content">
        <div style="margin: 0.25em 0">
            <a class="mobile-href btn btn-main btn-info" href="{{ "#"|url }}">CNC</a>
        </div>
        <div style="margin: 0.25em 0">
            <a class="mobile-href btn btn-main btn-info" href="{{ "#"|url }}">EDM</a>
        </div>
        <div style="margin: 0.25em 0">
            <a class="mobile-href btn btn-main btn-info" href="{{ "#"|url }}">3D Printing</a>
        </div>
        <div style="margin: 0.25em 0">
            <a class="mobile-href btn btn-main btn-info" href="{{ "#"|url }}">Sheet Metal</a>
        </div>
        <div style="margin: 0.25em 0">
            <a class="mobile-href btn btn-main btn-info" href="{{ "#"|url }}">Laser Cutting</a>
        </div>
        <div style="margin: 0.25em 0">
            <a class="mobile-href btn btn-main btn-info" href="{{ "#"|url }}">Laser Welding</a>
        </div>
        <div style="margin: 0.25em 0">
            <a class="mobile-href btn btn-main btn-info" href="{{ "#"|url }}">Cleanroom Assembly</a>
        </div>
    </div>
    </div>
</div>
