main {
    padding: 4rem 1rem;
}

section {
    text-align: center;
}

section.partners {
    margin-top: 5rem;
}

div.legal {
    max-width: 764px;
    margin-left: auto;
    margin-right: auto;
}

p.legal {
    font-size: 0.85rem;
}

.client-logo {
    margin: 1.5rem 0;
    display: inline-block;
}

/* Add spacing for copyright logo in mobile */
.copyright-spacing {
    visibility: hidden;
    padding: 1rem 0;
}

/*===== START mobile =====*/

@media (max-width: 765px) {
    /* Two-col image gallery */
	.client-logo {
		width: 50%;
    }
    .copyright-spacing {
        visibility: visible;
    }
}

/*===== END mobile =====*/
