.animated-logo {
    margin-top: -2rem;
    position: relative;
}

#wingstop {
    position: absolute;
    z-index: 2;
}

#wings {
    position: absolute;
    z-index: 1;

    background-color: white;
    transform-origin: center center;
    animation-name: wingani;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes wingani {
    from {transform: rotate3d(0, 1, 0, 180deg);}

    10%  {transform: rotate3d(0, 1, 0, 180deg);}
    12%  {transform: rotate3d(0, 1, 0, 155deg);}
    16%  {transform: rotate3d(0, 1, 0, 180deg);}

    66%  {transform: rotate3d(0, 1, 0, 180deg);}
    68%  {transform: rotate3d(0, 1, 0, 160deg);}
    69%  {transform: rotate3d(0, 1, 0, 180deg);}
    71%  {transform: rotate3d(0, 1, 0, 150deg);}
    75%  {transform: rotate3d(0, 1, 0, 180deg);}

    to   {transform: rotate3d(0, 1, 0, 180deg);}
}
