main {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.section-services h1,
.section-contact h1 {
    color: #0058AC;
}

.section-main h1,
.section-privacy h1 {
    color: #767171
}

.section-privacy .logo {
    color: #2E9A41;
}

.section-services .container {
    margin-bottom: -4.0rem;
}

.logo-main {
    margin-block-end: 2rem;
}

.logo-container {
    margin-bottom: 3rem
}

.fa.logo {
    font-size: 8rem;
}

/* Ira's homebrew stuff */
/* Contacts */

.btn-contact {
    border: 2px solid transparent;
    border-radius: 0.66em 3px 0.66em 3px;
    background-color: var(--grey);
    display: block;
    font-size: 1.0em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 1.0em 0;
    padding: 0.4em 1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
}

.contact-addr {
    margin: 0em;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    text-align: left;
}

.contact-addr-inner {
    margin-bottom: 0rem;
}

.contact-info {
    color: #0058AC;
    font-family: "LatoLatinWebThin";
    font-style: italic;
    font-size: 1.6rem;
    padding: 0rem 0;
    text-align: left;
}

.contact-header {
    margin-bottom: 1.5rem;
}

.icon-padding {
    margin-right: 1.0rem;
}

/*===== START mobile =====*/

@media (max-width:764px) {
    .logo-main {
        margin-block-start: -0.5rem;
    }
    /* Disable logo display in contact section for mobile */
    .contact-logo {
       display:none;
    }
}

/*===== END mobile =====*/

/*===== START desktop =====*/

 @media (min-width:765px) {
    .contact-logo {
        margin: 1.0em 0;
        margin-top: 1.5rem;
    }
}

/*===== END desktop =====*/
