main {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.section-services h1,
.section-contact h1 {
    color: #0058AC;
}

.section-main h1,
.section-privacy h1 {
    color: #767171
}

.section-privacy .logo {
    color: #2E9A41;
}

.section-contact {
    /* Provide more padding in landing page for copyright footer */
    padding-bottom: 5rem;
}

.section-services .container {
    margin-bottom: -4rem;
}

.logo-main {
    margin-block-end: 2rem;
}

.logo-container {
    margin-bottom: 3rem
}

.fa.logo {
    font-size: 8rem;
}

/* Ira's homebrew stuff */
/* Images */
img.screenshot {
    margin-top: 1.5rem;
}

p.learn-more {
    margin-top: 2.5rem;
}

/* Begin desktop banner */
.banner-desktop-list {
    color: var(--white);
    top: -285px;
    /* Eliminate whitespace created by moving top */
    margin-bottom: -285px;
    margin-left: 450px;
}
.banner-desktop-list p {
    font-size: 1.6rem;
    margin-bottom: 0.2em;
    text-decoration: underline;
}
.banner-desktop-list li {
	list-style: none;
	line-height: 1.5em;
    padding-left: 1rem;
	text-align: left;
	font-size: 1.3rem;
}
.banner-desktop-list li:hover {
	list-style: disc;
	color: var(--white);
}

.banner-desktop-list li.hover-init {
    list-style: disc;
	color: var(--white);
}

a.desktop-href {
    color: var(--white);
    font-weight: normal;
}
a.desktop-href:hover {
    text-decoration: none;
}

/* Begin mobile banner */
div.table-content-head {
    margin: 2em 0 -0.5em 0;
}

.banner-mobile p {
    font-size: 1.6rem;
    text-align: center;
    text-decoration: underline;
}

/* Non-modal table for mobile */
div.table-content {
    margin: 2em 2em 0 2em;
}

div.col-sm-6 {
    padding-bottom: 2px
}
div.col-sm-6::before {
    content: "\f054";
    padding: 0 20px 0 0;
}

a.mobile-href {
    font-size: 1.5rem;
    font-weight: normal;
}

/* Contacts */
#bootstrap-overrides .btn-contact {
    background-color: var(--grey);
    margin: 1.0em 0;
    padding: 0.4em 1em;
    width: 100%;
}
#bootstrap-overrides .btn-contact:focus,
#bootstrap-overrides .btn-contact:hover,
#bootstrap-overrides .btn-contact:active {
    background-color: transparent;
    border-color: var(--grey);
    color: var(--grey);
}

.contact-addr {
    margin: 0em;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    text-align: left;
}

.contact-addr-inner {
    margin-bottom: 0rem;
}

.contact-info {
    color: #0058AC;
    font-family: "LatoLatinWebThin";
    font-style: italic;
    font-size: 1.6rem;
    padding: 0rem 0;
    text-align: left;
}

.contact-header {
    margin-bottom: 1.5rem;
}

.icon-padding {
    margin-right: 1.0rem;
}

/*===== START mobile =====*/

/* Landscape mobile */
@media (max-width:824px) {
    .banner-desktop {
        display: none;
    }
}
/* Default mobile threshold */
@media (max-width:764px) {
    .logo-main {
        margin-block-start: -0.5rem;
    }
    /* Disable logo display in contact section for mobile */
    .contact-logo {
       display:none;
    }
    /* Don't allow two-lined text */
    .btn-learn-more{
        width: 66.66666%;
    }
}
/* Small mobile - prevent word wrap */
@media (max-width:375px) {
    a.mobile-href {
        font-size: 1.3rem;
    }
}
@media (max-width:320px) {
    a.mobile-href {
        font-size: 1.1rem;
    }
}

/*===== END mobile =====*/

/*===== START desktop =====*/

/* Landscape mobile exceeded */
@media (min-width:825px) {
    .banner-mobile {
        display: none;
    }
}
/* Default desktop threshold */
@media (min-width:765px) {
    .contact-logo {
        margin: 1.0em 0;
        margin-top: 1.5rem;
    }
}

/*===== END desktop =====*/
