main {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    max-width: 100%;
}

main section {
    text-align: center;
    padding: 4rem 0;
}

main section .container {
    max-width: 764px;
}

.screenshot {
    -webkit-mask-image: -webkit-gradient(
        linear, center top, center bottom,
        color-stop(0.00,  rgba(0,0,0,1)),
        color-stop(0.35,  rgba(0,0,0,1)),
        color-stop(0.50,  rgba(0,0,0,1)),
        color-stop(0.55,  rgba(0,0,0,1)),
        color-stop(1.00,  rgba(0,0,0,0)));
}

main section h1 {
    color: #0066AC;
    /* Override default h1 style meant for all pages */
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    font-family: "LatoLatinWeb";
    font-style: normal;
}

main section:nth-child(even) {
    background: #f4f4f4;
}

.section-services .container {
    margin-bottom: -4rem;
}

.section-services .blockquote::before {
    content: "»";
    position: absolute;
    color: #FFBB00;
    left: -4%;
    opacity: 0.5;
    top: 0;
    transform: scale(8);
    z-index: -1;
}

.section-services .blockquote {
    text-align: left;
    margin: 0 auto;
    max-width: 75%;
    position: relative;
    z-index: 1;
    color: var(--black);
}

.section-services .blockquote-footer:before {
    content: none;
}

.section-services .blockquote-footer {
    text-align: right;
    color: #0066AC;
    font-weight: bold;
    font-size: 100%;
}

.section-services h1,
.section-features h1,
.section-services .logo,
.section-features .logo {
    color: #0066AC;
}

.section-contact h1 {
    color: var(--grey);
}

.section-get h1 {
    font-size: 1.8em;
}

.logo-main {
    padding-block: 2.0rem;
}

.logo-container {
    margin-bottom: 3rem
}

.fa.logo {
    font-size: 8rem;
}

.section-features {
    background: linear-gradient(to bottom, white, 5% #f4f4f4);
    display: block;
}

.section-features > h1 {
    height: 5rem;
    font-size: 2.5rem;
}

.section-features .more-link {
    font-size: 1.5rem;
    position: relative; /* Draw above the lines */
    z-index: 2;
}

/* Ira's homebrew stuff */

.btn-contact {
    border: 2px solid transparent;
    border-radius: 0.66em 3px 0.66em 3px;
    background-color: var(--grey);
    display: block;
    font-size: 1.0em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 1.0em 0;
    padding: 0.4em 1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
}

.contact-addr {
    margin: 0em;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    text-align: left;
}

.contact-addr-inner {
    margin-bottom: 0rem;
}

.contact-info {
    color: #0066AC;
    font-family: "LatoLatinWebThin";
    font-style: italic;
    font-size: 1.6rem;
    padding: 0rem 0;
    text-align: left;
}

.contact-header {
    margin-bottom: 1.5rem;
}

.icon-padding {
    margin-right: 1.0rem;
}

/* Disable logo display in contact section for mobile */

@media (max-width:800px) {
    .contact-kavis-logo {
       display:none;
    }
 }

 @media (min-width:801px) {
    .contact-kavis-logo {
        margin: 1.0em 0;
        margin-top: 1.5rem;
    }
 }
