main {
    padding: 4rem 1rem;
}

/* Add spacing for copyright logo in mobile */
.copyright-spacing {
    visibility: hidden;
    padding: 1rem 0;
}

/*===== START mobile =====*/

@media (max-width: 765px) {
    .copyright-spacing {
        visibility: visible;
    }
}

/*===== END mobile =====*/
