p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
}

@media (min-width: 768px) {
	p {
		margin: 0 0 35px;
		font-size: 20px;
		line-height: 1.6;
	}
}

main {
	max-width: 1146px!important;
}

section {
	overflow: hidden;
}

a {
	color: inherit;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
}

li.nohighlight {
	text-shadow: 2px 2px 8px #000;
}

li.nohighlight:hover {
	color: #000;
	text-shadow: none;
}

.light {
	font-weight: 400;
}

.back-bar {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #000;
}

.img-display img {
	padding: 1% 0 5% 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.intro {
	display: table;
	width: 100%;
	height: 100%;
	padding: 100px 0 100px 0;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro .title {
	font-size: 50px;
}

.intro .btn {
	color: #fff;
}

a.down-arrow {
	font-size: 100px;
	font-weight: 500;
}

a.photo-link:hover img {
	opacity: 0.75 !important;
}

.gallery ul {
	padding: 0;
	margin: 0;
}

.gallery img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.gallery ul li {
	margin: 0;
	position: relative;
	list-style: none;
	float: left;
	padding: 0;
}

.gallery .wrapper {
	display: relative;
	text-align: center;
}

.gallery .wrapper:hover span:after {
	content: 'Phone';
}

.gallery .wrapper .cam {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	right: 20%;
	top: 80%;
	visibility: visible;
	position: absolute;
	text-shadow: 0px 0px 8px #000;
	visibility: visible;
}

.disabled-link {
	pointer-events: none;
}

p.credits {
	font-size: 16px;
	color: #aaa;
	padding-bottom: 2em;
}

div.stats p {
	font-size: 28px;
	padding: 0 0 0;
	margin-bottom: 0;
}

div.stats {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}