main {
	max-width: 1146px;
}

section {
	overflow: hidden;
}

a {
	color: inherit;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/*===== START gallery =====*/

.gallery img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.gallery figure {
	margin: 0;
	position: relative;
	list-style: none;
	padding: 0;
	display: inline-block;
	width: 33.333%;
	float: left;
}

/* Allow full image view on mobile devices. */
@media (max-width: 764px) {
	.gallery figure {
		width: 50%;
	}	
}

/* Allow image hover effect on Desktop */
@media (min-width: 768px) {
	.gallery figure:hover {
		opacity: 0.75 !important;
		text-decoration: none;
		color: inherit;
	}
}

/*===== END gallery =====*/