/* Ira's homebrew CSS */

main {
    padding: 4rem 0;
}

h2 {
    padding-bottom: 1rem;
}

h3 {
    margin-bottom: 1rem;
}

/* Adapted from photos.css */
section {
	overflow: hidden;
}
/* Adapted from photos.css */
a {
	color: inherit;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.banner-img {
    margin-top: 1.5rem;
    margin-bottom: 3.0rem;
}

.div-services {
    margin-right: auto;
    margin-left: auto;
    padding: 0rem 1rem;
    padding-bottom: 4rem;
    max-width: 764px;
}

/*===== START table =====*/

p.table-header {
    margin-top: 3rem;
    margin-bottom: 1.6rem;
    color: rgb(0,88,172,1);    
    font-size: 1.3rem;
}

div.table-content {
    margin: 2em;
    text-align: left;
}

/* For check mark icon */
div.col-sm-6::before {
    content: "\f00c";
    font-family: 'ForkAwesome';
    font-size: normal;
    font-style: normal;
    text-decoration: inherit;
    padding: 0 10px 0 0;
}

/*===== END table =====*/

/*===== START gallery =====*/

.gallery {
    max-width: 764px;
    margin: auto;
}

.gallery img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.gallery figure {
	margin: 0;
	position: relative;
	list-style: none;
	padding: 0;
	display: inline-block;
	width: 33.3333%;
	float: left;
}

/*===== END gallery =====*/

/*===== START mobile =====*/

@media (max-width: 765px) {
    /* Two-col image gallery */
	.gallery figure {
		width: 50%;
    }
    /* No side margin on mobile */
    div.table-content {
        margin: 1em;
        margin-bottom: 2em;
    }
    /* Show smaller table column headers */
    .desktop-table-col-header {
        display: none;
    }
}

/*===== END mobile =====*/

/*===== START desktop =====*/

@media (min-width: 764px) {
    /* Hover effect image gallery */
	.gallery figure:hover {
		opacity: 0.75 !important;
		text-decoration: none;
		color: inherit;
	}
    /* Show larger table column headers */
    .mobile-table-col-header {
        display: none;
    }
    .modal-dialog {
        width: 80%; /* New width for default modal */
        max-width: 1000px;
    }
}

/*===== END desktop =====*/
