<div class="row banner-desktop">
    <img src="{{ '/images/photos/landing-page/landing-page-01-desktop.jpg'|url }}" class="img-fluid screenshot rounded"
        alt="Kavis Techology - Stock Photo">
    <div class="col-md-5 banner-desktop-list">
        <p>Global Sourcing</p>
        <ul>
        <li>
            <a class="desktop-href" href="{{ ('/services/cnc/')|url }}">CNC</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ "#"|url }}">EDM</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ "#"|url }}">3D Printing</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ "#"|url }}">Sheet Metal</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ "#"|url }}">Laser Cutting</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ "#"|url }}">Laser Welding</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ "#"|url }}">Cleanroom Assembly</a>
        </li>
        </ul>
    </div>
</div>
