<div class="banner-mobile">
  <img src="{{ '/images/photos/landing-page/landing-page-01-mobile.jpeg'|url }}" class="img-fluid rounded"
    alt="Kavis Techology - Stock Photo">
  <div class="table-content-head">
    <p>Global Sourcing</p>
  </div>
  <div class="table-content row">
    <div class="col-sm-6 col-fa"><a class="mobile-href" href="{{ '/services/cnc'|url }}">CNC</a></div>
    <div class="col-sm-6 col-fa"><a class="mobile-href" href="{{ '/services/edm'|url }}">EDM</a></div>
    <div class="col-sm-6 col-fa"><a class="mobile-href dead-link" href="#">3D Printing</a></div>
    <div class="col-sm-6 col-fa"><a class="mobile-href" href="{{ '/services/sheet-metal'|url }}">Sheet Metal</a></div>
    <div class="col-sm-6 col-fa"><a class="mobile-href" href="{{ '/services/laser-cutting'|url }}">Laser Cutting</a></div>
    <div class="col-sm-6 col-fa"><a class="mobile-href dead-link" href="#">Laser Welding</a></div>
    <div class="col-sm-6 col-fa"><a class="mobile-href" href="{{ '/services/cleanroom'|url }}">Cleanroom Assembly</a></div>
  </div>
</div>
</div>
