<div class="row banner-desktop">
    <img src="{{ '/images/photos/landing-page/landing-page-01-desktop.jpeg'|url }}" class="img-fluid screenshot rounded"
        alt="Kavis Techology - Stock Photo">
    <div class="col-md-5 banner-desktop-list">
        <p>Global Sourcing</p>
        <ul>
        <li class="hover">
            <a class="desktop-href" href="{{ ('/services/cnc')|url }}">CNC</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ '/services/edm'|url }}">EDM</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ '/services/3d-printing'|url }}">3D Printing</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ '/services/sheet-metal'|url }}">Sheet Metal</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ '/services/laser-cutting'|url }}">Laser Cutting</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ '/services/laser-welding'|url }}">Laser Welding</a>
        </li>
        <li>
            <a class="desktop-href" href="{{ '/services/cleanroom'|url }}">Cleanroom Assembly</a>
        </li>
        </ul>
    </div>
</div>
