main {
    margin: 0;
}

main section h1 {
    /* Override default h1 style meant for all pages */
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-family: "LatoLatinWeb";
    font-style: normal;
    padding: 0;
}

#main h1 {
    margin-top: 1.5rem;
}

.logo-main {
    margin-block-end: 2rem;
}

.fa.logo {
    font-size: 8rem;
}

/* Ira's homebrew stuff */

p.description-text {
    margin-bottom: 3rem;
}

/*===== START mobile =====*/

/* Default mobile threshold */
@media (max-width: 764px) {
    /* Smaller section h1 for mobile */
    main section h1 {
        font-size: 2rem;
    }
    .logo-main {
        margin-block-start: -0.5rem;
    }
    /* Don't allow two-lined text */
    .btn-learn-more{
        width:  66.66666%;
    }
}

/*===== END mobile =====*/
