main section h1 {
	font-style: italic;
	font-family: "LatoLatinWebThin";
	font-weight: 500;
	margin-top: 0;
}

.container-desc ~ .container-desc {
    font-size: 2.5rem;
	margin-top: 4rem;
    margin-bottom: 2rem;
}

.services-href {
	color: var(--kavis-blue);
	font-weight: normal;
}
.services-href:hover {
	color: var(--kavis-blue);
	text-decoration: underline;
	text-decoration-thickness: 2.5px;
	text-underline-offset: 0.2rem;
}

/*===== START desktop =====*/

@media (min-width: 768px) {
    /* Hover effect image gallery */
	.gallery figure:hover {
		opacity: 0.75 !important;
		text-decoration: none;
		color: inherit;
	}
}

/*===== END desktop =====*/
