h4 {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

div.table-content {
    margin-left: 0;
    margin-bottom: 2rem;
}

/*===== START gallery =====*/

/* For Photoswipe carousel */

figure.main {
    margin-bottom: 5px;
}
figure.nav {
    margin-right: 5px;
}

div.gallery {
    margin-top: 3rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.my-gallery {
    max-width: 764px;
    margin: 0 auto;
}

/* Figure in focus */
.my-gallery a img {
    width: 85%;
    height: auto;
    display: block;
    margin: auto;
    filter: drop-shadow(1px 1px 4px grey);
}

/* Figure thumbnails */
.my-gallery img {
    width: 100%;
    filter: drop-shadow(1px 1px 2px grey);
}

.my-gallery figure {
    display: block;
    float: left;
    width: 150px;
}

.slick-track {
    display: flex;
    margin: 0 auto;
}

.slider-nav .slick-track .photoSwipeOpen {
    transition: none !important;
}

.slider-nav .slick-current {
    border-bottom: 2px solid var(--kavis-blue);
    padding-bottom: 3px;
}

img.slider-nav {
    max-width: 200px;
    display: block;
}

.slider-main {
    figure a {
        display: block;
        height: 0;
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
        text-align: center;
    }

    figure img {
        display: inline-block;
        height: auto;
        left: 50%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
    }
}

/*===== END gallery =====*/

/*===== START mobile =====*/

@media (max-width: 764px) {
    .my-gallery a img {
        width: 100%;
    }
}

/*===== END mobile =====*/
