/*===== START gallery =====*/

.gallery {
    max-width: 764px;
    margin: auto;
	overflow: hidden;
}

.gallery img {
	height: auto;
	margin: 0;
    max-width: 100%;
    padding: 1.5px;
}

.gallery figure {
	margin: 0;
	position: relative;
	list-style: none;
	padding: 0;
	display: inline-block;
	width: 33.3333%;
	float: left;
}

/*
NOTE: .multi-gallery is a necessary class defined in js/photoswipe-multi-gallery.js
DO NOT REMOVE
*/

/* For Photoswipe carousel */

.my-gallery img {
    width: 100%;
    height: auto;

}

.my-gallery figure {
    display: block;
    float: left;
    width: 150px;
}

figure.main {
    margin-bottom: 5px;
}
figure.nav {
    margin-right: 5px;
}

img.my-gallery {
    width: 100%;
    display: block;
    height: auto;
}

.my-gallery {
    max-width: 764px;
    margin: 0 auto;
}

.photoSwipeOpen .slick-track {
    transition: none !important;
}


img.slider-nav {
    max-width: 200px;
    display: block;
}

.slider-nav .slick-track {
    transform: none !important;
}


.slider-nav .slick-current {
    border-bottom: 2px solid red;
}

.slider-main {
    figure a {
        display: block;
        height: 0;
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
        text-align: center;
    }

    figure img {
            display: inline-block;
        height: auto;
        left: 50%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
    }
}

/*===== END gallery =====*/


/*===== START mobile =====*/

@media (max-width: 765px) {
    /* Two-col image gallery */
	.gallery figure {
		width: 50%;
    }
}

/*===== END mobile =====*/

/*===== START desktop =====*/

@media (min-width: 764px) {
    /* Hover effect image gallery */
	figure.nav:hover {
		opacity: 0.75 !important;
		text-decoration: none;
		color: inherit;
	}
}

/*===== END desktop =====*/
