main {
    padding: 4rem 1rem;
}

div.margin-top {
    margin-top: 5rem;
}

/* Allow image gallery to be flush* - esp. for mobile */
.container {
    padding-left: 0;
    padding-right: 0;
}

/* Add spacing for copyright logo in mobile */
.copyright-spacing {
    visibility: hidden;
    padding: 1rem 0;
}

/*===== START mobile =====*/

@media (max-width: 765px) {
    .copyright-spacing {
        visibility: visible;
    }
}

/*===== END mobile =====*/
