.contact-addr {
    margin: 0em;
    margin-bottom: 1.5rem;
}

.contact-addr-inner {
    margin-bottom: 0rem;
    font-size: 1.15rem;
}

.contact-info {
    color: #0058AC;
    font-family: "LatoLatinWebThin";
    font-style: italic;
    font-size: 1.6rem;
}

.contact-info {
    text-align: right;
}

.contact-intro {
    text-align: center;
}

.icon-padding {
    margin-right: 1.0rem;
}

/*===== START mobile =====*/

@media (max-width: 764px) {
    .contact-info {
        text-align: left;
    }
}

/*===== END mobile =====*/
