{% extends "layout.html" %}

{%- block page_css %}
  <link rel="stylesheet" href="{{ '/css/feed-layout.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/index.css'|url }}">
{% endblock %}

{% block content %}

  <section id="main" class="section-main">
    <div class="container">
      <div class="logo logo-main">
        <picture>
        <!-- Allow larger logo for mobile. -->
          <source
            media="(max-width: 764px)"
            srcset="{{ '/images/logos/kavistech-banner-small-whitespace.png'|url }}">
          <source
            media="(min-width: 765px)"
            srcset="{{ '/images/logos/kavistech-banner-large-whitespace.png'|url }}">
          <img src="{{ '/images/logos/kavistech-banner-large-whitespace.png'|url }}"
              class="img-fluid logo" alt="Kavis Technology Logo">
        </picture>
      </div>
      <h1>Contract manufacturing made easy</h1>
      <p>
        Streamline your hardware outsourcing with Kavis Technology. We work closely with the tech
        industry of North America, specializing in semiconductors and optics.
      </p>
      <div class="container">
        <div class="row banner-desktop">
          <img src="{{ '/images/photos/landing-page/landing-page-01-desktop.jpg'|url }}" class="img-fluid screenshot rounded"
              alt="Kavis Techology - Stock Photo">
          <div class="col-md-5 banner-desktop-content">
            <ul>
              <li>CNC</li>
              <li>EDM</li>
              <li>3D Printing</li>
              <li>Sheet Metal</li>
              <li>Laser Cutting</li>
              <li>Laser Welding</li>
              <li>Cleanroom Assembly</li>
            </ul>
          </div>
        </div>
        <div class="row banner-mobile">
          <div class="col-md-6">
            <img src="{{ '/images/photos/landing-page/landing-page-01-mobile.jpg'|url }}" class="img-fluid screenshot rounded"
                  alt="Kavis Techology - Stock Photo">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="section-services">
    <div class="container">
      <h1>Industry quality, guaranteed.</h1>
      <p>
          Your project's success is important to us. That's why
          we offer full ISO and US-MIL compliant materials
          and procedures, from start to finish.
      </p>
      <p class="learn-more">
        <a class="btn btn-main btn-info" href="{{ "/services"|url }}">learn more</a>
      </p>
      <div class="logo-container">
        <img src="{{ '/images/industry.png'|url }}"
             class="img-fluid logo" alt="Quality Guaranteed">
      </div>
    </div>
  </section>

  <section class="section-privacy">
    <div class="container">
      <div class="logo-container">
        <span class="fa fa-eye-slash logo" aria-hidden="true"></span>
      </div>
      <h1>Your privacy in safe hands</h1>
      <p>
          Business confidentiality shouldn't be taken lightly.
          Respecting intellectual property is the cornerstone of our business and we
          welcome NDAs.
      </p>
    </div>
  </section>

  <section class="section-dummy"></section>
  <span id="contact" class="anchor"></span>
  <section class="section-contact">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Contact Us</h1>
          <p class="contact-header">
            Ready to start? The solutions start here.
            Please feel free to reach out to us.
          </p>
        </div>
        <div class="col-12 col-md-8">
          <div class="contact-addr">
            <p class="contact-addr-inner">
              Kavis Technology LLC
            </p>
            <p class="contact-addr-inner">
              3401 Investment Blvd. #10
            </p>
            <p class="contact-addr-inner">
              Hayward, CA 94545
            </p>
          </div>
          <p class="contact-info">
            <span class="fa fa-at icon icon-padding" aria-hidden="true"></span>
            <a href="mailto:tyoung@kavis-tech.com">tyoung@kavis-tech.com</a>
          </p>
          <p class="contact-info">
            <span class="fa fa-phone icon icon-padding" aria-hidden="true"></span>
            +1 510 825 2035
          </p>
        </div>
        <div class="col-12 col-md-4">
          <img src="{{ '/images/logos/kavistech-banner-small-transparent.png'|url }}"
          class="img-fluid logo contact-logo" alt="Kavis Technology Logo">
          <br>
          <a class="btn btn-main btn-contact" href="https://www.google.com/maps/place/3401+Investment+Blvd+%2310,+Hayward,+CA+94545/@37.6235361,-122.1247231,15.23z/data=!4m5!3m4!1s0x808f96d0173fffff:0xeca58aac76c03c5b!8m2!3d37.6262324!4d-122.1186248" target="_blank">how to find us</a>
        </div>
      </div>
    </div>
  </section>

  <script>
    // Remove :focus from .btn-contact on click
    $('body').on('click', '.btn-contact', function() {
      $('.btn-contact').blur();
    });
  </script>

{% endblock %}
