{% extends "layout.html" %}

{%- block page_css %}
  <link rel="stylesheet" href="{{ '/css/parent/feed-layout.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/child/index.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/child/banner.css'|url }}">
{% endblock %}
{% block content %}
  <section id="main" class="section-main">
    <div class="container">
      <div class="logo logo-main">
        <picture>
        <!-- Allow larger logo for mobile. -->
          <source
            media="(max-width: 764px)"
            srcset="{{ '/images/logos/kavistech-banner-small-whitespace.png'|url }}">
          <source
            media="(min-width: 765px)"
            srcset="{{ '/images/logos/kavistech-banner-large-whitespace.png'|url }}">
          <img src="{{ '/images/logos/kavistech-banner-large-whitespace.png'|url }}"
              class="img-fluid logo" alt="Kavis Technology Logo">
        </picture>
      </div>
      <h1>Contract Manufacturing Made Easy</h1>
      <p class="description-text">
        Streamline your hardware outsourcing with Kavis Tech LLC.  We work closely with
        the tech industry of North America, Europe, and Asia, specializing in semiconductor
        capital equipment parts and assemblies, tooling, biotech lab equipment, and optical instrumentation.
      </p>
      {% include "includes/banner/banner-desktop.html" %}
      {% include "includes/banner/banner-mobile.html" %}
  </section>
  <section id="services">
    <div class="container">
      <h1>Our Mission</h1>
      <p class="description-text">
          Your project's success is important to us. We collaborate with customer
          R&D engineers to come up with solutions to solve design and fabrication issues and DFM
          optimization, from prototyping to production.
      </p>
      <a class="btn btn-main btn-info learn-more" href="{{ "/services"|url }}">learn more</a>
    </div>
  </section>
  <div class="copyright-spacing"></div>
{% endblock %}
