{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/index.css'|url }}">
{% endblock %}

{% block content %}

  <section id="about" class="section-about">
    <div class="container">

      <div class="logo">
        <img src="{{ '/images/kavistech-logo.png'|url }}"
             class="img-fluid logo" alt="Kavis Technology Logo">
      </div>
      <h1>The one-stop service for product development and quality control.</h1>
      <p>
        Kavis Technology is a US based company with our head office in Silicon Valley, California
        and our field office in Beijing, China. We help hi-tech industries in North American accomplish
        hardware outsourcing.
      </p>
      <img src="{{ '/images/kavistech-semiconductor.png'|url }}" class="img-fluid screenshot rounded"
           alt="Kavis Techology - Stock Photo", style="margin-top: 1.5rem;">
    </div>
  </section>

  <section id="services" class="section-privacy">
    <div class="container">
      <div class="logo-container">
        <span class="fa fa-cubes logo" aria-hidden="true"></span>
      </div>

      <h1>ISO 965-43 certified</h1>
      <p>
          Your digital life should not be in the hands of tech companies or
          governments. Keep it close to you. Literally!
      </p>
      <blockquote class="blockquote">
        <p>
            We’re building software for smart devices whose engineered purpose
            is to work together to facilitate free communication among people,
            safely and securely, beyond the ambition of the strongest power to
            penetrate. They can make freedom of thought and information a
            permanent, ineradicable feature of the net that holds our souls.
        </p>
        <footer class="blockquote-footer">"Eben Moglen (2010)"</footer>
      </blockquote>
    </div>
  </section>

{% endblock %}
