{% extends "page.html" %}
{% block page_css %}
  <link rel="stylesheet" href="{{ '/external/photoswipe-4.1.3/photoswipe.css'|url }}">
  <link rel="stylesheet" href="{{ '/external/photoswipe-4.1.3/default-skin/default-skin.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/parent/page.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/parent/gallery.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/parent/feed-layout.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/child/photos.css'|url }}">
{% endblock %}
{% block page_js %}
  <script defer src="{{ '/external/photoswipe-4.1.3/photoswipe.min.js'|url }}"></script>
  <script defer src="{{ '/external/photoswipe-4.1.3/photoswipe-ui-default.min.js'|url }}"></script>
{%- endblock -%}
{% block content %}
    <section class="section-dummy"></section>  <!-- for proper alternation of background colors -->
    {% include "includes/photos/cnc.html" %}
    {% include "includes/photos/edm.html" %}
    {% include "includes/photos/3d-printing.html" %}
    {% include "includes/photos/sheet-metal.html" %}
    {% include "includes/photos/laser-cutting.html" %}

    {% include "includes/photos/cleanroom.html" %}
    <div class="copyright-spacing"></div>
    {% include "includes/photoswipe-root.html" %}
{% endblock %}
