{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/photos.css'|url }}">
{% endblock %}

{% block content %}

  <!-- Image gallery -->
  <section id="photos">
    <div id="gallery" class="gallery">
      {% for photo in this.pagination.items %}
        <figure itemprop="associatedMedia">
          <!-- Main image when zoomed. Set fixed image dimension to 600x400 for now. -->
          <a class="a-photos" href="{{ '../images/' + photo.image|url }}" data-caption="{{ photo.description }}<br><em class='text-muted'>© Kavis Technology LLC</em>" data-width="600" data-height="400" itemprop="contentUrl">
            <!-- Image thumbnail -->
            <img src="{{ '../images/' + photo.image|url }}" itemprop="thumbnail" alt="Image description">
          </a>
        </figure>
      {% endfor %}
    </div>
  </section>
  
  <!-- Root element of PhotoSwipe -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader--active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div> 
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>

  <script>
    'use strict';
  
    (function($){

      // Init empty gallery array
      var container = [];

      $('#gallery').find('figure').each(function(){
        var $link = $(this).find('a'),
            item = {
              src: $link.attr('href'),
              w: $link.data('width'),
              h: $link.data('height'),
              title: $link.data('caption')
            };
        container.push(item);
      });

      // target custom a-tag class to allow proper navbar functionality
      $('.a-photos').click(function(event){
        event.preventDefault();

        var $pswp = $('.pswp')[0],
            options = {
              index: $(this).parent('figure').index(),
              bgOpacity: 0.85,
              showHideOpacity: true
            };

        var gallery = new PhotoSwipe($pswp, PhotoSwipeUI_Default, container, options);
        gallery.init();
      });

    }(jQuery));
  </script>

{% endblock %}
