{% extends "page.html" %}

{%- block page_css -%}
  <link rel="stylesheet" href="{{ '/css/feed-layout.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/services.css'|url }}">
  <link rel="stylesheet" href="{{ '/external/bootstrap-table-1.18.3/bootstrap-table.min.css'|url }}">
{% endblock %}

{% block page_js %}
  <script defer src="{{ '/external/photoswipe-4.1.3/photoswipe.min.js'|url }}"></script> 
  <script defer src="{{ '/external/photoswipe-4.1.3/photoswipe-ui-default.min.js'|url }}"></script>
  <script defer src="{{ '/external/bootstrap-table-1.18.3/bootstrap-table.min.js'|url }}"></script>
  <script defer src="{{ '/external/bootstrap-table-1.18.3/bootstrap-table-mobile.min.js'|url }}"></script>
{%- endblock -%}

{% block content %}
  <div class="div-services">
    {{ this.body }}
  </div>

  <span id="facilities" class="anchor"></span>
  <section class="section-facilities">
    <div class="container">
      <h2>Facilities</h2>
      <p>We offer overseas facilities of exceptional standards. Our facilities are located in Beijing, China,
      with end-to-end ISO1234:55 certified standards. We currently employ more than N employees.</p>
      <img src="{{ '/images/semiconductor-services.png'|url }}" class="img-fluid screenshot rounded banner-img"
           alt="Kavis Technology - Services/Facilities">
      <h3>Beijing Site</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p class="table-header">We offer the following offshore capabilities:</p>
      <div class="row table-content">
          <div class="col-sm-6">CNC Milling, Lapping, Grinding</div>
          <div class="col-sm-6">Sheet metal (< 1-meter length)</div>
          <div class="col-sm-6">Cold Stabilization</div>
          <div class="col-sm-6">Laser Curring & Welding</div>
          <div class="col-sm-6">EDM</div>
      </div>
      <div class="open-table">
        <a class="btn btn-main btn-info" href="" data-toggle="modal" data-target="#modalTable">View equipments sheet</a>
      </div>
    </div>
    <div id="modalTable" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">In-House Equipments & Tools</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <!-- data-height is for desktop - view mobile data-height at bottom of file -->
            <table id="table" class="table-striped"
              data-toggle="table"
              data-height="560"
              data-url="{{ '/json/services-facilities.json'|url }}"
              data-mobile-responsive="true"
              data-check-on-init="true">
              <thead>
                <tr class=".mobile-table-col-header">
                  <th data-field="desc" data-sortable="true">Description</th>
                  <th data-field="quant" data-sortable="true">Quantity</th>
                  <th data-field="specs">Specifications</th>
                  <th data-field="num-axis">No. Axis</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-main btn-close-modal" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container gallery my-gallery">
      {%- for photo in this.pagination.items -%}
        {%- if photo.name.startswith('facilities') -%}
          <figure itemprop="associatedMedia">
            <!-- Main image when zoomed. Set fixed image dimension to 600x400 for now. -->
            <a href="{{ '../images/' + photo.image|url }}" data-med="{{ '../images/' + photo.image|url }}" data-caption="{{ photo.description }}<br><em class='text-muted'>© Kavis Technology LLC</em>" data-size="600x400" data-med-size="600x400" itemprop="contentUrl">
              <!-- Image thumbnail -->
              <img class="thumbnail" src="{{ '../images/' + photo.image|url }}" itemprop="thumbnail" alt="{{ photo.description }}">
            </a>
          </figure>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </section>

  <span id="hardware" class="anchor"></span>
  <section class="section-dummy"></section>
  <section class="section-hardware">
    <div class="container">
      <h2>Hardware</h2>
      <p>This is the hardware section.</p>
      <img src="{{ '/images/machining-services.png'|url }}" class="img-fluid screenshot rounded banner-img"
           alt="Kavis Technology - Services/Hardware">
    </div>
    <div class="container gallery my-gallery">
      {%- for photo in this.pagination.items -%}
        {%- if photo.name.startswith('hardware') -%}
          <figure itemprop="associatedMedia">
            <!-- Set fixed image dimension to 600x400 for now. -->
            <a href="{{ '../images/' + photo.image|url }}" data-med="{{ '../images/' + photo.image|url }}" data-caption="{{ photo.description }}<br><em class='text-muted'>© Kavis Technology LLC</em>" data-size="600x400" data-med-size="600x400" itemprop="contentUrl">
              <img class="thumbnail" src="{{ '../images/' + photo.image|url }}" itemprop="thumbnail" alt="{{ photo.description }}">
            </a>
          </figure>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </section>

  {% include "includes/photoswipe-root.html" %}

  <script>
    var $table = $('#table')

    $(function() {
      $('#modalTable').on('shown.bs.modal', function () {
        $table.bootstrapTable('resetView')
        $table.bootstrapTable('refreshOptions', {
          theadClasses: "thead-light"
        })
      })
      $('body').on('hidden.bs.modal', '.modal', function() {
        $('.btn').blur();
      }); 
    })

    // Adjust modal table col name and window height for mobile
    if (/Mobi|Android/i.test(navigator.userAgent)) {
      document.querySelectorAll('[data-field="specs"]')[0].innerHTML = "Specs";
      document.getElementsByTagName("TABLE")[0].setAttribute("data-height", "449");
    }
  </script>

{% endblock %}
