{% extends "page.html" %}
{%- block page_css -%}
  <link rel="stylesheet" href="{{ '/external/photoswipe-4.1.3/photoswipe.css'|url }}">
  <link rel="stylesheet" href="{{ '/external/photoswipe-4.1.3/default-skin/default-skin.css'|url }}">
  <link rel="stylesheet" href="{{ '/external/bootstrap-table-1.18.3/bootstrap-table.min.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/parent/feed-layout.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/parent/gallery.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/child/services.css'|url }}">
  <link rel="stylesheet" href="{{ '/css/child/banner.css'|url }}">
{% endblock %}
{% block page_js %}
  <script defer src="{{ '/external/bootstrap-table-1.18.3/bootstrap-table.min.js'|url }}"></script>
  <script defer src="{{ '/external/bootstrap-table-1.18.3/bootstrap-table-mobile.min.js'|url }}"></script>
  <script defer src="{{ '/external/photoswipe-4.1.3/photoswipe.min.js'|url }}"></script>
  <script defer src="{{ '/external/photoswipe-4.1.3/photoswipe-ui-default.min.js'|url }}"></script>
{%- endblock -%}
{% block content %}
  <div class="intro-desc intro-services">{{ this.body|safe }}</div>
  <div class="container banner-pb">
    {% include "includes/banner/banner-desktop.html" %}
    {% include "includes/banner/banner-mobile.html" %}
  </div>
  <span class="anchor"></span>
  <section class="section-dummy"></section>  <!-- for proper alternation of background colors -->
  <section id="facilities">
    <div class="container">
      <h2>Facilities</h2>
      <p class="container-desc">We have local and overseas facilities of exceptional standards, with locations in the United States,
      Asia, and Europe.</p>
      <div class="row table-content table-content-last-child">
        <div class="col-sm-6 col-fa global-facilities">San Jose, USA</div>
        <div class="col-sm-6 col-fa global-facilities">Shenzhen, China</div>
        <div class="col-sm-6 col-fa global-facilities">Gyeonggi-do, South Korea</div>
      </div>
      <p class="table-header">We offer the following offshore capabilities:</p>
      <div class="row table-content table-content-last-child">
        <div class="col-sm-6 col-fa">CNC Milling | Lapping | Grinding</div>
        <div class="col-sm-6 col-fa">Sheet Metal (< 1-meter length)</div>
        <div class="col-sm-6 col-fa">3D Printing</div>
        <div class="col-sm-6 col-fa">Cold Stabilization</div>
        <div class="col-sm-6 col-fa">Laser Cutting & Welding</div>
        <div class="col-sm-6 col-fa">EDM</div>
        <div class="col-sm-6 col-fa">Hard Material Machining: Silicon Carbide & Zirconia</div>
        <div class="col-sm-6 col-fa">Fiberglass & Carbon Fiber Mfc.</div>
      </div>
      <div class="open-table">
        <a class="btn btn-main btn-info" href="" data-toggle="modal" data-target="#modalTable">View equipments sheet</a>
      </div>
      <div id="modalTable" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">In-House Equipments & Tools</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <!-- data-height is for desktop - view mobile data-height at bottom of file -->
              <table id="table" class="table-striped"
                data-toggle="table"
                data-height="560"
                data-url="{{ '/json/services-facilities.json'|url }}"
                data-mobile-responsive="true"
                data-check-on-init="true">
                <thead>
                  <tr class=".mobile-table-col-header">
                    <th data-field="desc" data-sortable="true">Description</th>
                    <th data-field="quant" data-sortable="true">Quantity</th>
                    <th data-field="specs">Specifications</th>
                    <th data-field="num-axis">No. Axis</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-main btn-close-modal" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container gallery multi-gallery">
    {%- for image in this.gallery.blocks -%}
    {% if image.tag == 'facilities' %}
      <figure itemprop="associatedMedia">
          <!-- Main image when zoomed. Set fixed image dimension to 600x400 for now. -->
          <a href="{{ '../images/' + image.url|url }}" data-med="{{ '../images/' + image.url|url }}"
              data-caption="{{ image.description }}<br><em class='text-muted'>© Kavis Technology LLC</em>"
              data-size="1200x900"
              data-med-size="800x600"
              itemprop="contentUrl">
            <!-- Image thumbnail -->
            <img src="{{ '../images/' + image.thumbnail_url|url }}" class="thumbnail"
            itemprop="thumbnail" alt="{{ image.description }}" loading="lazy">
          </a>
      </figure>
    {% endif %}
    {%- endfor -%}
    </div>
  </section>
  <span class="anchor"></span>
  <section class="section-dummy"></section>  <!-- for proper alternation of background colors -->
  <section id="common-materials">
    <div class="container">
      <h2>Common Materials</h2>
      <p class="container-desc">
        We offer a variety of common materials for custom design and manufacturing. With over a decade of experience
        in materials selection and post-processing treatments, we hope to give your team confidence in our
        delivery of high-quality materials.
      </p>
      <p class="table-header">Metals:</p>
      <div class="row table-content">
        <div class="col-sm-4 col-fa">Aluminum 5052</div>
        <div class="col-sm-4 col-fa">Aluminum 6061</div>
        <div class="col-sm-4 col-fa">Aluminum 7075</div>
        <div class="col-sm-4 col-fa">Aluminum MIC-6</div>
        <div class="col-sm-4 col-fa">Stainless steel</div>
        <div class="col-sm-4 col-fa">Copper</div>
        <div class="col-sm-4 col-fa">Brass</div>
        <div class="col-sm-4 col-fa">BeCu</div>
        <div class="col-sm-4 col-fa">Titanium 6AL-4V</div>
        <div class="col-sm-4 col-fa">Invar</div>
        <div class="col-sm-4 col-fa">Kovar</div>
      </div>
      <p class="table-header">Plastics:</p>
      <div class="row table-content">
        <div class="col-sm-4 col-fa">Teflon</div>
        <div class="col-sm-4 col-fa">Delrin</div>
        <div class="col-sm-4 col-fa">Fiberglass</div>
        <div class="col-sm-4 col-fa">PEEK</div>
        <div class="col-sm-4 col-fa">Semitron</div>
        <div class="col-sm-4 col-fa">Ertalyte</div>
        <div class="col-sm-4 col-fa">UHMW</div>
      </div>
      <p class="table-header">Ceramics:</p>
      <div class="row table-content table-content-last-child">
        <div class="col-sm-4 col-fa">Silicon carbide</div>
        <div class="col-sm-4 col-fa">Alumina</div>
        <div class="col-sm-4 col-fa">Zirconia</div>
      </div>
    </div>
    <div class="container gallery multi-gallery">
    {%- for image in this.gallery.blocks -%}
    {% if image.tag == 'common-materials' %}
      <figure itemprop="associatedMedia">
          <!-- Main image when zoomed. Set fixed image dimension to 600x400 for now. -->
          <a href="{{ '../images/' + image.url|url }}" data-med="{{ '../images/' + image.url|url }}"
              data-caption="{{ image.description }}<br><em class='text-muted'>© Kavis Technology LLC</em>"
              data-size="1200x900"
              data-med-size="800x600"
              itemprop="contentUrl">
            <!-- Image thumbnail -->
            <img src="{{ '../images/' + image.thumbnail_url|url }}" class="thumbnail"
            itemprop="thumbnail" alt="{{ image.description }}" loading="lazy">
          </a>
      </figure>
    {% endif %}
    {%- endfor -%}
    </div>
  </section>
  {% include "includes/photoswipe-root.html" %}
  <script>
    var $table = $('#table')
    $(function() {
      $('#modalTable').on('shown.bs.modal', function () {
        $table.bootstrapTable('resetView')
        $table.bootstrapTable('refreshOptions', {
          theadClasses: "thead-light"
        })
      })
      $('body').on('hidden.bs.modal', '.modal', function() {
        $('.btn').blur();
      });
    })
    // Adjust modal table col name and window height for mobile
    if (/Mobi|Android/i.test(navigator.userAgent)) {
      document.querySelectorAll('[data-field="specs"]')[0].innerHTML = "Specs";
      document.getElementsByTagName("TABLE")[0].setAttribute("data-height", "449");
    }
  </script>
{% endblock %}
