<span id="laser-cutting" class="anchor"></span>
<section class="section-dummy"></section>  <!-- for proper alternation of background colors -->
<section>
  <h2 class="container-desc"><a href="{{ "/services/laser-cutting"|url }}" class="services-href">Laser Cutting</a></h2>
  <div class="container gallery multi-gallery">
    {%- for image in this.gallery.blocks -%}
    {% if image.tag == 'laser-cutting' %}
    <figure itemprop="associatedMedia">
      <!-- Main image when zoomed. Set fixed image dimension to 600x400 for now. -->
      <a href="{{ '../images/' + image.url|url }}" data-med="{{ '../images/' + image.url|url }}"
        data-caption="{{ image.description }}<br><em class='text-muted'>© Kavis Technology LLC</em>"
        data-size="1200x900"
        data-med-size="800x600"
        itemprop="contentUrl">
        <!-- Image thumbnail -->
        <img src="{{ '../images/photos/thumbnail/placeholder/gray-placeholder.jpeg'|url }}"
          data-src="{{ '../images/' + image.thumbnail_url|url }}" class="thumbnail lazy"
          itemprop="thumbnail" alt="{{ image.description }}">
      </a>
    </figure>
    {% endif %}
    {%- endfor -%}
  </div>
</section>
